<a href="https://colab.research.google.com/github/w1767/PhD/blob/main/ARIMA_LSTM_SVM_RF_CNN_05_july.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# importing the necessary libraries
!pip install arch
import tensorflow
import glob
import csv
import os
from pathlib import Path
import pandas as pd
from arch import arch_model

#checking the business day's

from pandas.tseries.offsets import BDay

# suppresses future warnings

import warnings
warnings.simplefilter(action='ignore')

#importing Datetime for timeseries data

import datetime as dt
from datetime import datetime, timedelta

# importing matplotlib for visualisation
# to enable the inline plotting, where 
# the plots/graphs will be displayed just below the cell where your plotting commands are written
from matplotlib import pyplot
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import style

# importing math and numpy for calculations

import math
from math import sqrt

import numpy as np
from numpy import zeros, ones, expand_dims, asarray # import arrays of zeros, ones,
# expand dimensions and convert to arrays.
# randint() is one of the function for doing random sampling in numpy. 
#It returns an array of specified shape and fills it with random integers
# from low (inclusive) to high (exclusive), i.e. in the interval [low, high).
from numpy.random import rand, randint 

# import statsmodel for Arima

from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

# importing keras and its functions

import keras
from keras.models import Sequential
from keras.layers import LSTM
from tensorflow.python.keras.optimizer_v2 import adam
from keras.models import Model, load_model
from keras.layers import Input, Dense, Reshape, Flatten
from keras.layers import Conv2D, Conv2DTranspose, Concatenate
#Conv2DTranspose is a convolution operation whose kernel is learnt
#(just like normal conv2d operation) while training your model.
from keras.layers import BatchNormalization, Activation
from keras import initializers #Kernel initializers are used to statistically initialise the weights in the model.
from keras.initializers import RandomNormal
from keras.optimizers import adam_v2
from keras.layers.convolutional import Conv1D
from keras.layers import Dense, Activation, Flatten
from keras.models import Sequential
from keras.utils.vis_utils import plot_model
#The keras. utils. vis_utils module provides utility functions to plot a Keras model

#importing sklean and its functions

import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from tensorflow.keras import layers
#Bidirectional long-short term memory(Bidirectional LSTM)
#is the process of making any neural network o have the sequence
#information in both directions backwards (future to past) or forward(past to future).
from keras.layers import Input, Dense, Reshape, Flatten, Dropout, Bidirectional, LSTM, Reshape, RepeatVector, TimeDistributed
# for creating model and training
import tensorflow as tf
from tensorflow.keras.layers import Conv1D, LSTM, Dense, Dropout, Bidirectional, TimeDistributed
#TimeDistributed layer is very useful to work with time series data or video frames. 
#It allows to use a layer for each input. That means that instead of having several input “models”,
# we can use “one model” applied to each input. Then GRU or LSTM can help to manage the data in “time”.
#RepeatVector is used to repeat the input for set number, n of times.
#a dense layer is a layer that is deeply connected with its preceding layer which means the neurons of 
#the layer are connected to every neuron of its preceding layer. 
#ConvLSTM is a type of recurrent neural network for spatio-temporal prediction that has convolutional 
#structures in both the input-to-state and state-to-state transitions. 
#Return sequences refer to return the hidden state a<t>. By default, the return_sequences is set to False in Keras RNN layers,
# and this means the RNN layer will only return the last hidden state output a<T>.
#he Dropout layer randomly sets input units to 0 with a frequency of rate at each step during training time,
# which helps prevent overfitting.

from tensorflow.keras.layers import MaxPooling1D, Flatten
#L2 regularization acts like a force that removes a small percentage of weights at each iteration.
#The L1 norm that is calculated as the sum of the absolute values of the vector. The L2 norm that is calculated
# as the square root of the sum of the squared vector values.
from tensorflow.keras.regularizers import L1, L2
from tensorflow.keras.metrics import Accuracy
from tensorflow.keras.metrics import RootMeanSquaredError

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: arch in /usr/local/lib/python3.7/dist-packages (5.3.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from arch) (1.21.6)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.7/dist-packages (from arch) (1.4.1)
Requirement already satisfied: statsmodels>=0.11 in /usr/local/lib/python3.7/dist-packages (from arch) (0.13.2)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from arch) (1.3.5)
Requirement already satisfied: property-cached>=1.6.4 in /usr/local/lib/python3.7/dist-packages (from arch) (1.6.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->arch) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->arch) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->arch) (1.15.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11->arch) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11->arch) (0.5.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels>=0.11->arch) (3.0.9)

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
path = "/content/drive/MyDrive/PhD research/VIX_daily.xlsx"

In [13]:
df=pd.read_excel("/content/drive/MyDrive/PhD research/VIX_daily.xlsx", index_col = 'Date')
df_Valid = pd.read_excel("/content/drive/MyDrive/PhD research/VVIX.xlsx", index_col='Date')
 #  parse_dates=["Date"],
 #  index_col=["Date"]) # parse the date column and tell pandas that column 1 is a datetime)

In [14]:
#print overview of datasets
df

            Last Price
Date
2022-04-20       21.19
2022-04-19       21.37
2022-04-18       22.17
2022-04-14       22.70
2022-04-13       21.82
...                ...
1990-01-08       20.26
1990-01-05       20.11
1990-01-04       19.22
1990-01-03       18.19
1990-01-02       17.24

[8136 rows x 1 columns]

In [15]:
df_Valid

            Last Price
Date
2022-04-20         NaN
2022-04-19      106.06
2022-04-18      110.90
2022-04-14      114.75
2022-04-13      113.76
...                ...
2006-03-20       37.93
2006-03-17       28.60
2006-03-16       27.94
2006-03-15       15.71
2006-03-06       71.73

[3997 rows x 1 columns]